.dashboard_user_info{
    padding: var(--container-padding);
    display: flex;
    align-items: center;
    gap: 10px;

}
.dashboard_sum_container{
    padding: 7%;
}
.dashboard_middle{
    width: 70%;
    border-right: var(--border);
}
.dashboard_right{
    width: 30%;
    border-right: var(--border);
}
.dashboard_sum_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: var(--area-padding);
}
.dashboard_wrapper{
    display: flex;
}
.percent{
    width: max-content;
    padding: 5px;
    border-radius: 100px;
    background-color: white;
}
.charts_container{
    padding: 18px 18px;
    border: var(--border);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.charts{
    padding: var(--area-padding);
    margin-top: 30px;
}
.charts_select{
    padding: 10px;
    width: 85px;
    border-radius: 10px;
    border: var(--border);
    cursor: pointer;
}
.charts_form {
    top: 7%;
    right: 8%;
    cursor: pointer;
}
.transition_area{
    padding: 18px 18px;
    border: var(--border);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: var(--area-padding);
    margin-top: 30px;
    margin-bottom: 30px;
}


/* table */
table{
    width: 100%;
    margin-top: 5%;
}
th{
    text-align: left;
}
.transition_info{
    display: flex;
    align-items: center;
    gap: 9px;
}
.transition_icon{
    background-color: rgba(128, 128, 128, 0.11);
    padding: 6px;
    border-radius: 10px;
}
tr{
    margin-bottom: 5px;
}
th, td{
    padding: 5px 0;
}
.credited{
    color: #4ab8b4;
}
.debited{
    color: #ef7289;
}



/* dashboard middle */
.credit_cards{
    width: 290px;
    background-color: #0c0c0c;
    color: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.credit_num{
    margin-top: 47px;
    margin-bottom: 15px;
}
.credits_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.credits_top button{
    border: none;
    background-color: transparent;
}
.credit_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.credit_area{
    padding: var(--container-padding);
    border-bottom: var(--border);
}
.saving_area{
    padding: var(--container-padding);
    border-bottom: var(--border);
}
.btn_more img{
    width: 15px;
}
.plan_container_top{
    display: flex;
    justify-content: space-between;
}
.plan_card_left{
    display: flex;
    gap: 12px;
}
.img img{
    background-color: rgba(128, 128, 128, 0.11);
    padding: 6px;
    border-radius: 8px;
}
.line_saving{
    width: 100%;
    height: 6px;
    background-color: #dff4f3;
    margin-top: 13px;
}
.line_saving::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    background-color:#28a9a2 ;
    z-index: 3;
    height: 6px;
}
.line_saving2{
    width: 100%;
    height: 6px;
    background-color: #fdecef;
    margin-top: 13px;
}
.line_saving2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    background-color:#eb637b ;
    z-index: 3;
    height: 6px;
}
.plan_container{
    padding: var(--container-padding);
    border: var(--border);
    border-radius: 10px;
}
.arrow_icon{
    width: 20px;
    cursor: pointer;
}
.calender_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 5%;
}
.top_area{
    display: flex;
    justify-content: space-between;
}
.js_calender_date{
    width: 140px;
    text-align: center;
}