.cards_container{
    width: 34%;
    border-right: var(--border);
}
.credit_area2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.credit_cards{
    margin: 5% 0;
    /* background-color: #f7f6f6 !important;
    color: #333 !important; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    width: 323px !important;
}
.wallet_container{
    display: flex;
}
.transaction_area_top{
    display: flex;
    justify-content: space-between;
}
.transaction_area {
    width: 69%;
    padding: 2.5% 3%;
    border-right: var(--border);
}
.transition_area{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}
table{
    width: 108% !important;
}
th, td {
    padding: 10px 0 !important;
}
.add_card{
    background-color: #28a9a2 !important;
    font-size: 23px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.create_creadit_card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;

}
.bg-gray{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 7;

}
.create_creadit_card{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 3% 2%;

}
.input_field_card{
    margin-top: 8%;
}
.credit_input {
    width: 100%;
    margin-top: 7px;
    padding: 17px 12px 12px 12px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}
.credit_input::placeholder{
    color:rgba(0, 0, 0, 0.295) ;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.input_field_card_area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.input_field_card2{
    margin-top: 5%;
}
.button_area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    gap: 2%;
}
.cancel_btn{
    border: 1px solid rgba(0, 0, 0, 0.11);
    width: 50%;
    text-align: center;
    padding: 3%;
    border-radius: 90px;
    cursor: pointer;
}
.create_btn{
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 3.5%;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.199);
}
.create_btn button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
}
.cancel_btn button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #333;
}